@import "./variable";
@import "./global";
@import "./includes/header";
@import "./includes/button";
@import "./sections/home";
@import "./sections/about";
//@import "../node_modules/bootstrap/scss/bootstrap";






* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;

}









