$text:#eee;
$white:#fff;
$black:#000;
$theme:#F51963;
$grayish:#7f7f7f;
$yellow:#FBAE20;
$light-bg:#f7f7f7;
$gray-2: #ccc;
$gray-3: #bbb;
$gray-4: #777;
$gray-5: #999;
$gray-6: #575454;
$news-bg: #FAF9FF;
$dark: #222;