.mt-30 {
  margin-top: 30px;
}

.mb-80 {
  margin-bottom: 80px;
}

.sec-wrap {
  padding: 120px 0;
}

/*header*/
.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.header .logo {
  width: 100px;
  padding: 15px 0;
}
.header .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  font-weight: 500;
  color: #eee;
  letter-spacing: 0.5px;
  margin: 15px 5px;
  transition: all 0.5s;
}
.header .navbar-nav .nav-item .nav-link.active {
  color: #F51963;
}

.btn-theme {
  background: #F51963;
  color: #fff;
  border-color: #F51963;
  animation-delay: 1.2s;
  padding: 12px 40px;
  border-radius: 30px;
  position: relative;
  z-index: 3;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  cursor: pointer;
  outline: none !important;
}
.btn-theme:after {
  content: "";
  width: 0;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 1;
  opacity: 0.5;
  transition: all 0.4s;
}
.btn-theme:hover {
  border-color: #fff;
  background: transparent;
}
.btn-theme:hover span {
  position: relative;
  z-index: 3;
  color: #F51963 !important;
}
.btn-theme:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
  background: #fff;
}

/*home-slider*/
.home-slider {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.home-slider .slider-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.home-slider .slider-item .slider-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  padding-top: 1px;
  transform: translate(0%, -50%);
  color: #fff;
}
.home-slider .slider-item .slider-content h1 {
  font-size: 55px;
  font-weight: 500;
  animation-delay: 0.6s;
}
.home-slider .slider-item .slider-content p {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  color: #eee;
  padding: 0 30px;
  letter-spacing: 1px;
  word-spacing: 2px;
  animation-delay: 1s;
}
.home-slider .owl-dots {
  position: absolute;
  top: 90%;
  left: 48%;
}
.home-slider .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.home-slider .owl-dots .owl-dot.active span {
  background: #F51963 !important;
}
.home-slider .owl-dots .owl-dot:hover span {
  background: #F51963 !important;
}

.about-section .about-top-text h5 {
  font-weight: 300;
  margin-bottom: 10px;
}
.about-section .about-top-text h3 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.about-section .about-top-text h3:after {
  content: "";
  width: 70px;
  height: 1px;
  background: #F51963;
  position: absolute;
  bottom: 0;
  left: calc(50% - 35px);
}
.about-section .about-top-text p {
  width: 90%;
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  font-family: "Khula", sans-serif;
  color: #7f7f7f;
  line-height: 2;
}
.about-section .about-item {
  text-align: center;
}
@media screen and (max-width: 991px) {
  .about-section .about-item {
    margin-bottom: 50px;
  }
}
.about-section .about-item .icon-wrap {
  font-size: 35px;
  width: 80px;
  height: 80px;
  display: inline-block;
  line-height: 80px;
  border-radius: 50%;
  border: 1px dashed #ddd;
  margin-bottom: 30px;
  transition: all 0.4s;
  background: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-section .about-item .icon-wrap:hover {
  transition: all 0.4s;
  background: #F51963;
  color: #fff;
  border-style: solid;
  -webkit-text-fill-color: inherit;
}
.about-section .about-item h6 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}
.about-section .about-item p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Khula", sans-serif;
  color: #7f7f7f;
  line-height: 2;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
