/*header*/

.header {
  position: absolute;
  width: 100%;
  z-index: 2;

  .navbar {
    .navbar-toggler {
      color: $white;

      &:focus {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, .5);
      }
    }

    .collapse {
      @media screen and (max-width: 991px) {
        background-color: $black1;
        padding: 20px 0;
        max-height: 340px;
        overflow: auto;
      }
    }

    .collapsing {
      @media screen and (max-width: 991px) {
        background-color: $black1;
        max-height: 340px;
        overflow: auto;
      }
    }
  }

  .dark {
    display: none;
  }

  &.sticky {
    z-index: 4;
    position: fixed;
    background: $white;
    box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
    padding: 0;
    top: -100px;
    left: 0;
    width: 100%;
    transition: transform .5s;
    transform: translateY(100px);

    .navbar {
      .navbar-toggler {
        color: $black;

        &:focus {
          box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
        }

      }
    }

    .light {
      display: none;
    }

    .dark {
      display: block;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $black;

          @media screen and (max-width: 991px) {
            color: $text;
          }
        }
      }
    }
  }

  .logo {
    width: 100px;
    padding: 15px 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 13px;
        font-weight: 500;
        color: $text;
        letter-spacing: .5px;
        margin: 15px 5px;
        transition: all .5s;


        &.active {
          color: $theme;
        }
      }
    }
  }
}
